<h1>Cuestionario de Proyecto de Metodos de Investigacion</h1>
<div>
  A continuación se presentará un conjunto de preguntas que usted debe responder de acuerdo 
  a sus percepciones acerca del experimento que acaba de ser parte. La información que se genere 
  de este cuestionario es de mucha importancia para nosotros para poder determinar la utilidad que 
  se le puede dar a una interfaz cerebro computador así como su facilidad de uso. Le agradecemos  por 
  su tiempo y entusiasmo en esta experiencia.
</div>

<h4>El tiempo aproximado para resolver completar este cuestionario es de 2 minutos.</h4>
<%= render 'form' %>

<%= link_to 'Back', encuesta_path %>
